<header>
<h1 class="budget_app">Budget App</h1>
<nav>
<ul class="nav-list">
    <% if user_signed_in? %>

    <li class="nav-item"><%= link_to "Expenses",expenses_path, class: "nav-link sign-out" %></li>

    <li class="nav-item"><%= link_to "Categories",categories_path, class: "nav-link sign-out" %></li>




      <li class="nav-item"><%= link_to "Profile", edit_user_registration_path, class: "nav-link sign-out" %></li>
      <li class="nav-item"><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link sign-out" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
    <% end %>
    </div>
    </ul>
</nav>
</header>